<div class="success-registration">
  <div class="success-registration__title">
    <span>Seu cadastro foi realizado com sucesso</span>
  </div>

  <div class="success-registration__container mt-4 mb-4">
    <div class="success-registration--round">
      <mat-icon svgIcon="ec_hadshake-star"></mat-icon>
    </div>
  </div>

  <span>Após a <b>análise da nossa equipe</b> enviaremos um e-mail para <b>definição da senha de acesso</b></span>

  <div class="success-registration__actions mt-4">
    <button class="success-registration--white" mat-button routerLink="/">
      Ir para a página inicial
    </button>
  </div>
</div>
