@import "~@esferaenergia/esfera-ui/assets/styles/colors";
@import "~@esferaenergia/esfera-ui/assets/styles/typography_font";

.customization {
  span {
    font-size: $font-sm;
    line-height: 16px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    height: 100%;
  }

  &__title {
    font-style: normal;
    font-weight: $bold;
    color: #8a8787;

    &--files {
      min-width: 100%;
      display: inline-flex;
      justify-content: space-between;
      padding-bottom: 10px;
      align-items: center;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: $regular;
    color: #152536;
  }

  &__item {
    padding-top: 1rem;

    &--full-width {
      grid-column: span 2;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    mat-icon {
      color: $cerise;
      margin-right: 5px;
      font-size: $font-md;
      height: 15px;
      width: 15px;
    }

    es-icon {
      color: $cerise;
      margin-right: 5px;
    }

    &--btn-files {
      background-color: rgba(216, 216, 216, 0.25);
      margin: 5px 8px 0 0;
    }

    &--btn-cerise {
      border: 1px solid $cerise !important;
      color: $cerise !important;
      background-color: #ffffff !important;

      &:hover {
        color: #ffffff !important;
        background: $cerise !important;
      }
    }
  }
}
