<div class="cancel-quotation">
  <div class="cancel-quotation__header">
    <h1 class="cancel-quotation__title">Cancelar cotação</h1>
    <mat-icon mat-dialog-close>close</mat-icon>
  </div>

  <div class="cancel-quotation__content">
    <span class="cancel-quotation__text">
      Ao cancelar a cotação, todas as ofertas válidas recebidas serão descartadas e
      os ofertantes participantes receberão um e-mail informando o cancelamento.
    </span>

    <b class="cancel-quotation__text cancel-quotation__text--bolder">
      Para garantir a audiência dos próximos processos recomendamos que
      deixe um texto como justificativa para ser encaminhada aos fornecedores.
    </b>

    <mat-form-field appearance="outline">
      <textarea matInput [formControl]="justificationControl"></textarea>
    </mat-form-field>
  </div>

  <div class="cancel-quotation__actions">
    <button type="button" es-button color="secondary" mat-dialog-close>manter cotação</button>
    <button type="submit" es-button (click)="submit()" [disabled]="loading" [ngClass]="{
      'cancel-quotation__actions--disabled': loading
    }">
      <ec-loading [active]="loading" height="44px">cancelar a cotação</ec-loading>
    </button>
  </div>
</div>
