@import "~@esferaenergia/esfera-ui/assets/styles/colors";
@import "~@esferaenergia/esfera-ui/assets/styles/typography_font";

.cancel-quotation {
  &__header {
    display: flex;
    justify-content: space-between;

    mat-icon {
      font-size: 30px;
    }
  }

  &__title {
    text-align: left;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 24px;
    color: $rose-pearl;
  }

  &__content {
    display: flex;
    flex-direction: column;
    font-size: $font-md;
    margin-bottom: 8px;

    textarea {
      resize: none;
      height: 125px;
    }
  }

  &__text {
    margin-bottom: 24px;

    &--bolder {
      font-size: 19px;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;

    button {
      width: 325px !important;
      height: 50px;

      ::ng-deep {
        .col-auto {
          display: flex;
          align-items: center;
        }
      }
    }

    &--disabled {
      cursor: default;
      background: #bdbdbd;
    }
  }
}
