<div class="billing-info">
  <es-virtual-list-template [height]="460" [dataSource]="dataSource" [page]="page" [itemSize]="50"
                            [refreshItemsSubscription]="subscription" (refreshItems)="load(lastName, $event)"
                            [loading]="!subscription?.closed && !dataSource?.length || searching"
                            [errorMessage]="errorMessage">

    <es-title>Minhas empresas</es-title>

    <es-subtitle>
      Visualize os agentes cadastrados na CCEE representados por sua empresa e seus dados cadastrais das unidades de
      faturamento.
    </es-subtitle>

    <es-search label="Buscar empresa" (search)="load($event)"></es-search>

    <button es-button (click)="openBillingInfoModal()">
      Nova Unidade
      <mat-icon>add</mat-icon>
    </button>

    <ng-container *ngFor=" let item of dataSource">
      <ec-billing-info-item [client]="item"></ec-billing-info-item>
    </ng-container>
  </es-virtual-list-template>
</div>
