@import "~@esferaenergia/esfera-ui/assets/styles/typography_font.scss";
@import "../../../../../../libs/energy-contracting/assets/styles/colors";
@import "../../../../../../libs/energy-contracting/assets/styles/mixins.scss";

.login {
    display: flex;
    width: 100%;
    height: 100vh;
    @include gradient(bottom);
    background-image: $backgroundColor;
    min-height: 100%;
    flex-direction: row;
    overflow: hidden;

    &,
    div.login-container {
        justify-content: left;
        align-items: center;
    }

    div.login-container {
        @media (min-width: 800px) {
            width: 45%;
        }

        .mat-form-field-label,
        .mat-form-field-outline,
        .mat-form-field-invalid,
        .mat-input-element {
            caret-color: #ffffff;
            color: #ffffff !important;
        }

        min-height: 450px;
        display: flex;
        flex-flow: column wrap;
        background: transparent;
        padding: 0 54px 0;
        justify-content: flex-start;
        align-items: stretch;
        padding-left: 10%;
        padding-right: 5%;
        z-index: 1;

        div.presentation-login {
            flex: 1;
            display: flex;
            justify-content: flex-start;

            img.logo {
                height: auto;
                display: flex;
                padding-left: 0%;
            }
        }

        div.login-inputs {
            flex: 2;
            flex-direction: column;
            align-items: stretch;
            display: flex;
            justify-content: center;
            margin: 10px;

            fieldset {
                border-color: white;
            }
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            -webkit-text-fill-color: white;
            -webkit-box-shadow: 0 0 0px 1000px transparent inset;
            transition: background-color 5000s ease-in-out 0s;
        }

        button.login {
            background: white;
            width: 150px;
            align-self: flex-start;
            margin-top: 8%;
            margin-left: 3%;
            margin-right: 3%;

            span {
                font-size: 18px;
                font-weight: $poppins-bold;
                text-transform: lowercase;
            }
        }
    }

    img.logo-bg {
        height: auto;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
    }

    label {
        color: #fff;
        font-weight: $poppins-regular;
    }

    button {
        background-color: #fff;
        color: #000;
    }

    span.password-reveal {
        color: white;
        user-select: none;
    }

    p {
        margin-top: 6%;
        margin-bottom: 6%;
        text-align: justify;
        padding-left: 0%;
        padding-right: 0%;
        user-select: none;
        color: white;
    }

    .btn-login {
        width: 148px;
        height: 50px;
        border-radius: 25px;
        font-weight: $poppins-bold;
        font-size: 18px;
        outline: none;

        span {
            ec-loading {
                .container {
                    width: auto;
                }
            }
        }
    }

    mat-form-field.mat-form-field {
        width: 100% !important;
    }

    div.pw {
        .mat-form-field-flex {
            align-items: center;
        }

        .mat-form-field-wrapper {
            padding-bottom: 0;
        }
    }

    div.forget-pass {
        display: flex;
        justify-content: flex-end;
        margin-top: -0.5rem;

        a.forgot-pass {
            width: 150px;
            height: 20px;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            text-decoration: none;
            color: #ffffff;
            cursor: pointer;

            &:hover {
                text-shadow: 0 0 1px #ffffff;
            }
        }
    }

    .mat-form-field-outline-thick,
    .mat-form-field-outline,
    .mat-form-field-appearance-outline,
    .mat-focused {
        color: white !important;

        label {
            color: white !important;
        }

        &.mat-form-field-invalid {
            color: red !important;
        }
    }

    mat-error {
        color: white;
    }

    .pass-error {
        margin-top: 1.3rem;
    }

    .username-error {
        margin-top: 0.3rem;
    }
}

.esfera-notifications-container {
    top: 0px !important;
}
