<es-notifications></es-notifications>

<div class="login">
  <div class="login-container">
    <div class="presentation-login">
      <img src="/assets/images/logo.svg" alt="logo esfera" class="logo" />
    </div>

    <p>O único sistema do Brasil pensado para a sua empresa monitorar cada quilowatt e cada centavo na contratação
      de energia.</p>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>usuário</mat-label>
          <input matInput type="text" formControlName="email"
            [ngClass]="{ 'is-invalid': loginForm.get('email').errors }" />
          <mat-error class="username-error" *ngIf="hasError(loginForm.controls.email, 'required')">
            campo email é obrigatório
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group pw">
        <mat-form-field appearance="outline">
          <mat-label>senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="on"
            [ngClass]="{ 'is-invalid': loginForm.get('password').errors }" />
          <span class="password-reveal cp" matSuffix (click)="togglePassword()">{{text}}</span>
          <mat-error class="pass-error" *ngIf="hasError(loginForm.controls.password, 'required')">
            campo password é obrigatório
          </mat-error>
        </mat-form-field>
      </div>
      <div class="forget-pass">
        <div class="pointer float-right">
          <a class='forgot-pass' routerLink="recovery">esqueci minha senha</a>
        </div>
      </div>
      <div class="form-group">
        <button mat-button class="btn-login" [disabled]="loginForm.invalid || isLoading">
          <ec-loading [active]="isLoading" [height]="'50px'">entrar</ec-loading>
        </button>
      </div>
    </form>
  </div>
  <img src="/assets/images/logo-bg.svg" alt="logo esfera bg" class="logo-bg" />
</div>
