<div class="create-quotation">
  <form [formGroup]="createForm" (ngSubmit)="nextForm()" (keyup.enter)="nextForm()">
    <div class="row mt-3">
      <div class="col-12">
        <ec-multiselect [loading]="loading?.isLoadingAgents" [multiple]="true" bindLabel="name" [initFocus]="true"
          [closeOnSelect]="false" selectAllLabel="Selecionar todos" placeholder="Selecione um ou mais agentes"
          (searched)="changeAgents($event)" notFoundText="Itens não encontrado" formControlName="ownerId"
          [items]="companyClients" id="ownerId" tabindex="1" required>
        </ec-multiselect>
        <mat-error class="create-quotation--error"
          *ngIf="createForm.get('ownerId').hasError('required') && createForm.get('ownerId').touched">
          Nome do agente é obrigatório
        </mat-error>
      </div>
    </div>

    <section class="row mt-2">
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Tipo de operação</mat-label>
          <mat-select formControlName="quotationType" required id="quotationType" placeholder="Compra/venda ou swap"
            tabindex="2">
            <mat-option *ngFor="let quotation of resources.quotationType; trackBy: trackByFn;"
              [value]="quotation.value">
              {{quotation.value}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="createForm.get('quotationType').hasError('required')">
            Tipo de operação é obrigatório
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-2 col-sm-3 d-flex flex-column">
        <label class="create-quotation__offer--smal">Tipo de oferta esperada:*</label>
        <mat-radio-group class="mt-2" formControlName="priceType">
          <mat-radio-button value="FIXED" tabindex="3">Preço fixo</mat-radio-button>
          <mat-radio-button class="pl-3" value="PLD" tabindex="4">Spread</mat-radio-button>
          <mat-error class="create-quotation--error"
            *ngIf="createForm.get('priceType').hasError('required') && createForm.get('priceType')?.touched">
            Tipo de oferta é obrigatório
          </mat-error>
        </mat-radio-group>
      </div>
    </section>

    <section class="create-quotation__info pt-3">
      <div class="create-quotation__subheading">
        <h1 class="">Infos de energia</h1>
      </div>
      <div class="row mt-2">
        <div class="col-6">
          <ec-datepicker formControlName="startDate" tabindex="5" label="Início do fornecimento"
            [loading]="loading.getDateDefault">
            <span *ngIf="createForm.get('startDate').hasError('required')">
              Início do fornecimento é obrigatório
            </span>
          </ec-datepicker>
        </div>
        <div class="col-6">
          <ec-datepicker formControlName="endDate" tabindex="6" label="Término do fornecimento"
            [loading]="loading.getDateDefault">
            <span *ngIf="createForm.get('startDate').hasError('required')">
              Término do fornecimento é obrigatório
            </span>
          </ec-datepicker>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-6">
          <mat-form-field appearance="outline" class="mat-suffix">
            <mat-label>Volume de energia médio no período</mat-label>
            <input matInput formControlName="energyVolumeAverage" required autocomplete="off" id="energyVolumeAverage"
              tabindex="7" (change)="changeMwAverage()">
            <span matPrefix>MWméd</span>
            <mat-error *ngIf="createForm.get('energyVolumeAverage').hasError('required')">
              Volume de energia é obrigatório
            </mat-error>
            <mat-error *ngIf="createForm.get('energyVolumeAverage').hasError('customMinMax')">
              {{createForm.get('energyVolumeAverage').errors?.customMinMax?.message}}
            </mat-error>
          </mat-form-field>
        </div>
        <mat-icon class="create-quotation__info--position">compare_arrows</mat-icon>
        <div class="col-6">
          <mat-form-field appearance="outline" class="mat-suffix">
            <mat-label>Volume de energia total no período</mat-label>
            <input matInput formControlName="energyVolumeHour" required autocomplete="off" id="energyVolumeHour"
              tabindex="8" (change)="changeMwh()">
            <span matPrefix>MWh</span>
            <mat-error
              *ngIf="createForm.get('energyVolumeHour').hasError('required') && !createForm.get('energyVolumeHour').hasError('customMinMax')">
              Volume de energia é obrigatório
            </mat-error>
            <mat-error *ngIf="createForm.get('energyVolumeHour').hasError('customMinMax')">
              {{createForm.get('energyVolumeHour').errors?.customMinMax?.message}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Fonte energética</mat-label>
            <mat-select formControlName="energySource" required id="energySource" tabindex="9">
              <mat-option *ngFor="let energy of resources.energySource; trackBy: trackByFn;" [value]="energy.value">
                {{energy.value}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createForm.get('energySource').hasError('required')">
              Fonte é obrigatório
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Submercado</mat-label>
            <mat-select formControlName="subMarketRegion" required id="subMarketRegion" tabindex="10">
              <mat-option *ngFor="let subMarket of resources.subMarketRegion; trackBy: trackByFn;" [value]="subMarket.value">
                {{subMarket.value}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createForm.get('subMarketRegion').hasError('required')">
              Submercado é obrigatório
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-6">
          <mat-form-field appearance="outline" class="mat-suffix mat-prefix">
            <span matPrefix class="mat-prefix">R$</span>
            <mat-label>Retusd (Ressarcimento)</mat-label>
            <input esCurrencyMask matInput formControlName="retusd" id="retusd" type="string"
              [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'center', max: 999.99, min: -999.99}"
              autocomplete="off" tabindex="11">
            <span matSuffix class="mat-suffix">MWh</span>
            <mat-error *ngIf="createForm.get('retusd').hasError('required')">
              Retusd é obrigatório
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6 d-flex align-items-center">
          <mat-checkbox tabindex="12" (change)="fullReimbursement($event)" value="true"
            formControlName="fullReparation">
            Quero ressarcimento integral
          </mat-checkbox>
        </div>
      </div>
    </section>

    <section class="create-quotation__actions mt-3">
      <button es-button tabindex="13" size="sm" class="create-quotation__next" color="secondary">
        Avançar
      </button>
    </section>
  </form>
</div>
