<mat-card class="quote-summary">
  <div class="header">
    <div class="header__container">
      <div class="container__title">
        <div class="title__info">
          {{labelOwners}}
        </div>

        <div class="title__value">
          <h1 class="value__title">
            {{labelOwners}}
          </h1>

          <span *ngIf="quotation.owner.length > 1" class="value__all-agents" (click)="openModalMultipleAgents()">veja
            todos os agentes ></span>
        </div>
      </div>

      <div *ngIf="quotation?.owner?.length === 1" class="container__cnpj">
        <span class="cnpj__info">CNPJ: <b>{{quotation?.owner[0]?.cnpj | mask: '00.000.000/0000-00'}}</b></span>
      </div>
    </div>

    <div class="tab-header">
      <div class="tab-header__container">
        <span class="tab-header__source-type">
          COTAÇÃO DE
          {{quotation?.quotationType === buyer ? 'compra' : 'venda'}}
        </span>
        <span class="tab-header__key">{{quotation?.protocol}}</span>
      </div>
    </div>
  </div>

  <mat-tab-group [selectedIndex]="selected.value" (selectedTabChange)="onTabChanged($event)">
    <mat-tab label="ENERGIA">
      <ng-template matTabContent>
        <ec-energy-quote-summary [quotation]="quotation"></ec-energy-quote-summary>
      </ng-template>
    </mat-tab>
    <mat-tab label="CUSTOMIZAÇÃO" *ngIf="quotation.isLongTerm || quotation.files.length > 0 || quotation.observation">
      <ng-template matTabContent>
        <ec-customization-quote-summary [quotation]="quotation"></ec-customization-quote-summary>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-card>