<ng-template #loadingTpl>
  <div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="row justify-content-center">
      <div class="col-auto">
        <ec-loading [active]="true"></ec-loading>
      </div>
    </div>
  </div>
</ng-template>

<div class="confirm-proposal">
  <div class="confirm-proposal__title pt-2">
    <span>
      {{offerName}}, Revise
      a sua oferta:
    </span>
  </div>
  <ng-container *ngIf="!loading; else loadingTpl">
    <div class="confirm-proposal__container">
      <ec-energy-proposal [offer]="offer" [quotation]="quotation"></ec-energy-proposal>
      <ec-readjustment [offer]="offer" [quotation]="quotation"></ec-readjustment>
    </div>

    <div class="confirm-proposal__actions pt-5">
      <button mat-button tabindex="9" mat-dialog-close>Voltar e editar a oferta</button>

      <button es-button tabindex="10" size="sm" class="confirm-proposal__actions--btn-cerise" (click)="makeProposal()">
        Enviar a oferta e concluir
      </button>
    </div>
  </ng-container>
</div>
