<es-notifications></es-notifications>

<div class="login">
  <div class="login__container">
    <div class="container__row">
      <img src="/assets/images/logo.svg" alt="logo esfera" />
      <span> Iniciando cotação{{loadingPoints}}</span>
    </div>

    <div class="container__row">
      <p>O único sistema do Brasil pensado para a sua empresa monitorar cada quilowatt e cada centavo na contratação
        de energia.</p>
    </div>
  </div>

  <img class="logo-bg" src="/assets/images/logo-bg.svg" alt="logo esfera bg" />
</div>
