@import "~@esferaenergia/esfera-ui/assets/styles/typography_font.scss";
@import "~@esferaenergia/esfera-ui/assets/styles/_colors.scss";

.offer {
  overflow: hidden;
  margin-top: 20px;

  .container-fluid {
    overflow: hidden;
  }

  .no-quotation {
    min-width: 100%;
    background-color: $base-primary;
    padding-left: 40px;
    font-weight: $poppins-regular;
    color: $base-text;
    justify-content: center;

    p {
      font-size: $font-md;
    }
  }

  .loading {
    margin-top: 100px;
  }

  .option__icon {
    width: 50px;
  }

  .option__field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
  }

  .option__field--button {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      flex-grow: 3;
    }
  }

  .option__field--icon {
    margin-left: 5px;
    width: 20px;
  }
}
