<ng-template #loadingTpl>
  <div class="container loading">
    <div class="row justify-content-center">
      <div class="col-auto">
        <ec-loading [active]="true"></ec-loading>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noQuotation>
  <div class="container float-left mt-4 pt-4 pb-3 no-quotation">
    <div class="row justify-content-center">
      <p>Nenhuma cotação correspondeu à sua pesquisa.</p>
    </div>
  </div>
</ng-template>

<div class="offer">
  <div class="row px-3 justify-content-end align-items-end" [class.mb-4]="!isFilter">
    <div class="option__field">
      <button es-button class="option__field--button" color="secondary" (click)="showFilter()">
        <span>Exibir filtros</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>

    <div class="option__field mx-3">
      <button es-button class="option__field--button" routerLink="/quotation/create-quotation">
        <span>Nova cotação</span>
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div [class.d-none]="!isFilter">
    <ec-quotation-filter-header (emitFilter)="addFilters($event)"></ec-quotation-filter-header>
  </div>
  <ng-template *ngIf="isLoading; then loadingTpl"></ng-template>
  <ng-template *ngIf="!quotations?.length && !isLoading; then noQuotation"></ng-template>
  <ec-quotations [isSkeleton]="isSkeleton" (sortedChange)="addSort($event)" [dataSource]="quotations"
    [filtersOpened]="isFilter" [params]="params" [reloaded]="subscription?.closed" (pullQuotations)="addPage($event)">
  </ec-quotations>
</div>
