@import "~@esferaenergia/esfera-ui/assets/styles/typography_font.scss";
@import "~@esferaenergia/esfera-ui/assets/styles/_colors.scss";
@import "~@esferaenergia/esfera-ui/assets/styles/var.scss";

$color-diff-quotation: #2b2b2b;
$color-th: #727272;
$color-td: #858585;
$color-expired-offer: #c5c5c5;

::ng-deep .mat-sort-header-container {
  justify-content: center !important;
}

.detail--expand {
  background: #ffffff 0% 0% no-repeat padding-box;
  margin-top: -18px;
  margin-bottom: 1rem;
  min-height: 100px;
  border-top: 1px solid #eceae8;
}

.detail--winner {
  border-bottom: 1px solid $cerise;
  border-left: 1px solid $cerise;
  border-right: 1px solid $cerise;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.offers-received {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px 20px 20px;

  &__hyperlink {
    text-decoration-color: rgba(0, 0, 238) !important;
    color: rgba(0, 0, 238) !important;
    text-decoration: underline;
    cursor: pointer;

    &:active {
      color: #ff0000 !important;
      text-decoration: none;
    }

    &:visited {
      color: #660066 !important;
    }
  }

  .align-not-offer {
    display: flex;
    align-items: center;
    justify-content: center;

    es-icon {
      width: 30px;
      margin-right: 10px;
    }
  }

  &--sub-title {
    font-size: $font-x-mall;
    color: #9b9b9b;
    opacity: 1;
  }

  &--icon {
    color: #ff0041;
    width: 25px;
  }

  .title {
    span {
      text-align: left;
      font-size: $font-lg;
      font-weight: bold;
      letter-spacing: 0px;
      color: #585858;
      opacity: 1;
      display: flex;
      justify-content: center;
    }
  }

  .vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .show-download {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    mat-icon {
      cursor: pointer;
    }

    es-icon {
      width: 30px;
      cursor: pointer;
    }
  }

  table {
    width: 100%;
    table-layout: fixed;
    overflow-wrap: break-word;

    .column-action {
      width: 200px;
    }

    .column-observation {
      width: 50px;
    }

    thead {
      .remove-right-child {
        border-right: none !important;
      }

      th {
        font-size: $primary-fs;
        color: $color-th;
        opacity: 1;
      }

      th:first-child {
        border-left: none;
      }

      th:last-child {
        border-right: none;
      }
    }

    tbody {
      button {
        font-size: 12px;
        text-transform: none;
      }

      .expired-offer {
        color: $color-expired-offer !important;

        &::ng-deep {
          .es-secondary:disabled {
            cursor: default;
            color: $color-expired-offer !important;
            border-color: $color-expired-offer !important;
          }
        }
      }

      .owner-offer {
        color: $cerise;
      }

      .diff-quotation {
        color: $color-diff-quotation;
        text-decoration: underline $color-diff-quotation !important;
      }

      td {
        font-size: 16px !important;
        color: $color-td;
        border-left: 1px solid #989898;
        border-right: 1px solid #989898;

        .action-item {
          div {
            padding: 0 8px;
          }

          &--active {
            font-size: $font-sm;
            background-color: transparent;
            border-color: transparent;
            color: $color-td;
            cursor: default;
            box-shadow: none;
          }
        }

        span {
          opacity: 1 !important;
        }
      }

      tr:nth-child(odd) {
        td {
          background-color: #f3f3f3;
        }
      }

      tr:first-child {
        td {
          box-shadow: inset 0px 12px 7px -10px;
          border-radius: 0;
          border-left: none;
          border-top-width: inherit;
        }
      }

      td:last-child {
        border-right: none;
      }
    }

    tr:not(:first-child) {
      td {
        border-left: none;
      }
    }

    th {
      background: #ffffff;
      font-size: $primary-fs !important;
      font-weight: $poppins-medium !important;
      color: $color-th;
    }

    th,
    td {
      border-right: 1px solid #585858;
      text-align: center;

      &.remove-right-child {
        border-right: none !important;
      }
    }
  }
}

.dropdown {
  display: inline-block;
  padding: 0;

  &__item {
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 48px;
    height: 48px;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    max-width: 100%;
    position: relative;
    background: transparent;
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;

    &--cancel {
      color: $feedback-error;
    }

    es-icon {
      display: flex;
    }

    span {
      padding-left: 5px;
    }
  }

  &__item:hover:not([disabled]) {
    background: rgba(0, 0, 0, 0.04);
  }
}

.details-quotation {
  width: 100% !important;

  &__container {
    width: 100% !important;
    margin-bottom: 0.5rem !important;
    margin-top: 0.5rem !important;

    .container {
      &__label {
        font-size: mat-font-size($config, body-1);
        font-weight: $bold;
      }
    }
  }
}

.dropdown-content {
  display: none;
  min-width: 112px;
  max-width: 280px;
  overflow: auto;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 64px;
  position: absolute;
  min-width: 55px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  background: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}
