<ng-template #loadingTpl>
  <div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="row justify-content-center">
      <div class="col-auto">
        <ec-loading [active]="true"></ec-loading>
      </div>
    </div>
  </div>
</ng-template>

<div *ngIf="!isLoading; else loadingTpl">

  <div class="detail-customization-offer__title">
    <span mat-dialog-title>Detalhes e customização</span>
    <mat-icon class="close" mat-dialog-close>close</mat-icon>
  </div>

  <div>
    <div class="detail-customization-offer__header">
      <mat-label class="detail-customization-offer__header">Reajuste</mat-label>
    </div>
    <div class="mt-2">
      {{indexerEnum[data?.indexer]}}
    </div>
    <div class="detail-customization-offer__header">
      <mat-label class="detail-customization-offer__header">Sazonalização</mat-label>
    </div>
    <div class="mt-2">
      {{getOfferCustomizationDescriptionInput(data?.minimumSeasonality, data?.maximumSeasonality)}}
    </div>
    <div class="detail-customization-offer__header">
      <mat-label class="detail-customization-offer__header">Flexibilidade</mat-label>
    </div>
    <div class="mt-2">
      {{getOfferCustomizationDescriptionInput(data?.minimumFlexibility, data?.maximumFlexibility)}}
    </div>
    <div class="detail-customization-offer__header">
      <mat-label class="detail-customization-offer__header">Modulação</mat-label>
    </div>
    <div class="mt-2">
      {{modulationEnum[data?.modulationType]}}
    </div>
    <div class="mt-2">
      {{getOfferCustomizationDescriptionInput(data?.minimalModulation, data?.maximumModulation)}}
    </div>
    <div class="detail-customization-offer__header">
      <mat-label class="detail-customization-offer__header">Garantia financeira</mat-label>
    </div>
    <div class="mt-2">
      {{financialGuarantee}}
    </div>
  </div>
</div>