@import '~@esferaenergia/esfera-ui/assets/styles/var.scss';
@import '~@esferaenergia/esfera-ui/assets/styles/typography_font';
@import '~@esferaenergia/esfera-ui/assets/styles/colors';

.multiple-agents {
  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8a8787;
    padding-bottom: 15px;

    span {
      font-weight: $bold;
      font-size: mat-font-size($config, body-1);
      line-height: 16px;
      color: #8a8787;
    }
  }

  &__item {
    border-bottom: 1px solid #8a8787;
    padding-top: 15px;
    padding-bottom: 15px;

    &__title {
      font-size: 18px;
      font-weight: $bold;
    }
  }
}
