<div class="energy">
  <span class="energy__title">Energia</span>
  <div class="energy__container pt-2">
    <div class="grid-item">
      <span class="energy__container__title">Volume total</span>
      <div class="grid-item__container">
        <div class="grid-item__energy-volume" *ngIf="diffEnergyVolumeHour">
          <es-icon class="grid-item__container__cerise" name="flash"></es-icon>
          <span class="grid-item__through">{{(quotation?.energyVolumeHour | convertDecimal:'3':true).convertedDecimal}}
            MWh</span>
          <mat-icon>chevron_right</mat-icon>
        </div>
        <span class="grid-item__subtitle grid-item__bold">{{offer?.energyVolumeHour}} MWh</span>
        <mat-icon *ngIf="!diffEnergyVolumeHour" class="grid-item__green-water">done</mat-icon>
      </div>
    </div>
    <div class="grid-item">
      <span class="energy__container__title"> Volume médio</span>
      <div class="grid-item__container">
        <div class="grid-item__energy-volume" *ngIf="diffEnergyVolumeAverage">
          <es-icon class="grid-item__container__cerise" name="flash"></es-icon>
          <span
            class="grid-item__through">{{(quotation?.energyVolumeAverage | convertDecimal:'6':true).convertedDecimal}}
            MWm</span>
          <mat-icon>chevron_right</mat-icon>
        </div>
        <span class="grid-item__subtitle grid-item__bold">{{offer.energyVolumeAverage}} MWm</span>
        <mat-icon *ngIf="!diffEnergyVolumeAverage" class="grid-item__green-water">done</mat-icon>
      </div>
    </div>

    <div class="grid-item">
      <span class="energy__container__title">Início do fornec.</span>
      <div class="grid-item__container">
        <mat-icon class="grid-item__container__cerise">calendar_today</mat-icon>
        <span class="grid-item__subtitle">{{quotation.startDate | date:'dd/MM/yyyy'}}</span>
        <mat-icon class="grid-item__green-water">done</mat-icon>
      </div>
    </div>

    <div class="grid-item">
      <span class="energy__container__title">Término do fornec.</span>
      <div class="grid-item__container">
        <mat-icon class="grid-item__container__cerise">calendar_today</mat-icon>
        <span class="energy__container__subtitle">{{quotation.endDate | date:'dd/MM/yyyy'}}</span>
        <mat-icon class="grid-item__green-water">done</mat-icon>
      </div>
    </div>

    <div class="grid-item pt-3">
      <span class="energy__container__title">Tipo de energia</span>
      <div class="grid-item__container">
        <mat-icon class="grid-item__container__cerise">format_list_bulleted</mat-icon>
        <span class="grid-item__subtitle">{{energySource[quotation.energySource]}}</span>
        <mat-icon class="grid-item__green-water">done</mat-icon>
      </div>
    </div>

    <div class="grid-item pt-3">
      <span class="energy__container__title">Submercado</span>
      <div class="grid-item__container">
        <mat-icon class="grid-item__container__cerise">location_on</mat-icon>
        <span class="grid-item__subtitle">{{subMarketRegion[quotation.subMarketRegion]}}</span>
        <mat-icon class="grid-item__green-water">done</mat-icon>
      </div>
    </div>

    <div class="grid-item">
      <span class="energy__container__title">Retusd</span>
      <div class="grid-item__container">
        <ng-container *ngIf="offer?.retusd; else emptyItemTemplate">
          <span class="grid-item__subtitle">{{offer.retusd | currency:'BRL'}} MWh</span>
          <mat-icon class="grid-item__green-water">done</mat-icon>
        </ng-container>
      </div>
    </div>

    <div class="grid-item">
      <span class="energy__container__title">Valid. Oferta</span>
      <div class="grid-item__container">
        <mat-icon class="grid-item__container__cerise">calendar_today</mat-icon>
        <span class="grid-item__subtitle">{{offer.proposalExpiration | date:'dd/MM/yyyy'}}</span>
        <mat-icon class="grid-item__green-water">done</mat-icon>
      </div>
    </div>

    <div class="grid-item">
      <span class="energy__container__title">{{validValueOffer.labelOfferValue}} de
        {{validValueOffer.labelOfferQuotationType}}</span>
      <div class="grid-item__container">
        <span class="grid-item__subtitle">{{offer.price}} R$/MWh</span>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyItemTemplate>
  <span>Não preenchido</span>
</ng-template>
