@import "~@esferaenergia/esfera-ui/assets/styles/colors.scss";
@import "~@esferaenergia/esfera-ui/assets/styles/var.scss";
@import "~@esferaenergia/esfera-ui/assets/styles/typography_font";

.success-create {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  mat-icon {
    color: $cerise;
    font-size: 28px;
  }

  h1 {
    font-size: mat-font-size($config, subheading-2);
    font-weight: $bold;
    padding-top: 1.5rem;
  }

  &__subtitle {
    font-size: mat-font-size($config, subheading-2);
    color: #152536;
  }

  &__back {
    color: $cerise;
    font-size: mat-font-size($config, caption);
    font-weight: $bold !important;
    cursor: pointer;
    padding-top: 1rem;
  }
}
