<div class="user-detail">
  <div class="user-detail__title mb-4">
    <span class="user-detail__title--cerise" cdkFocusInitial>Informações do usuário</span>
    <mat-icon class="close" mat-dialog-close>close</mat-icon>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-label class="user-detail--bold">Nome completo:</mat-label>
      <mat-label class="pl-2">{{data?.person?.name}}</mat-label>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-12">
      <mat-label class="user-detail--bold">E-mail comercial:</mat-label>
      <mat-label class="pl-2">{{data?.email}}</mat-label>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-6">
      <mat-label class="user-detail--bold">Telefone: </mat-label>
      <mat-label class="pl-2">{{data?.person?.phone | mask: '(00) 0 0000-0000||(00) 0000-0000'}}</mat-label>
    <div class="col-6">
      <mat-label class="user-detail--bold">CPF:</mat-label>
      <mat-label class="pl-2">{{data?.person?.cpf | mask: '000.000.000-00'}}</mat-label>
    </div>
  </div>

  <mat-slide-toggle class="pt-3" [(ngModel)]="data.isAdmin" disabled>
    Permissão de administrador
  </mat-slide-toggle>
</div>
