@import "~@esferaenergia/esfera-ui/assets/styles/colors";

.box__header {
    display: grid;
    grid-template-columns: 60px repeat(auto-fit, minmax(90px, 11fr));
    grid-auto-rows: 50px;
    background: #8a8787;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    border-radius: 5px;
    opacity: 1;

    .box__column {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $base-primary;
        height: 50px;
        cursor: default;

        es-icon {
            cursor: pointer;
        }

        mat-icon {
            display: flex;
            align-items: center;
            font-size: 15px;
            margin-left: 15px;
            cursor: pointer;
        }

        ec-quotation-sort-header {
            cursor: pointer;
        }

        &--expand-column {
            border-right: 1px solid $base-primary;
            height: 50px;
        }

        &--no-sort {
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid $base-primary;
            height: 50px;
            cursor: default;

            es-icon {
                cursor: pointer;
            }

            mat-icon {
                display: flex;
                align-items: center;
                font-size: 15px;
                margin-left: 15px;
                cursor: pointer;
                color: white;
            }

            ec-quotation-sort-header {
                cursor: pointer;
            }
        }

        &--end {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem 0;
            cursor: pointer;
        }
    }

    @media (max-width: 1600px) {
        .box__column,
        .box__column--end {
            padding-left: 26px;
        }
    }
}

span {
  color: $base-primary;
  font-weight: bold;
  text-transform: capitalize;
}
