@import "~@esferaenergia/esfera-ui/assets/styles/typography_font.scss";

.item {
  &--bold {
    font-weight: bold;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__item {
    cursor: pointer;

    mat-icon {
      font-size: 20px;
    }

    &__detail {
      margin-right: 10px;
    }

    &--light-brown {
      color: #8a8787;
    }

    &--danger {
      color: #e10b0b;
      margin-left: 10px;
      margin-right: 15px;
    }
  }
}

button {
  display: flex !important;
  align-items: center;
}
