<ng-template #loadingTpl>
  <div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="row justify-content-center">
      <div class="col-auto">
        <ec-loading [active]="true"></ec-loading>
      </div>
    </div>
  </div>
</ng-template>

<es-list-template>
  <es-title> Gerenciar meus grupos</es-title>

  <es-subtitle>
    Consulte as empresas que você se relaciona na plataforma e gerencie os seu Grupos
  </es-subtitle>

  <button es-button class="button" (click)="openModalCreateGroup()">
    <span>Novo grupo</span>
    <mat-icon>add</mat-icon>
  </button>

  <ng-container *ngIf="companyGroups$ | async; let companyGroups; else loadingTpl">

    <es-card-item [columns]="company" *ngFor="let company of companyGroups" [headerColumns]="companyColumns"
      [disabledExpanded]="true" [ngStyleGridColumn]="'repeat(auto-fit,minmax(90px, 3fr))'">

      <es-card-column columnName="name">
        <ng-template let-columns>
          <div class="d-flex justify-content-start ml-3">
            <span class="item--bold">{{columns}}</span>
          </div>
        </ng-template>
      </es-card-column>

      <es-card-column columnName="countCompanies">
        <ng-template let-columns>
          <div class="d-flex justify-content-center">
            <span class="item--bold">{{columns}} {{columns > 1 ? 'empresas' : 'empresa'}}</span>
          </div>
        </ng-template>
      </es-card-column>

      <es-card-column columnName="actions">
        <ng-template let-row="row">
          <div class="actions">
            <div class="actions__item" (click)="getCompanyDetail(row)">
              <ng-container *ngIf="!isLoading; else loadingDetail">
                <mat-icon class="actions__item--light-brown actions__item__detail" matTooltip="Detalhes">
                  menu_book
                </mat-icon>
              </ng-container>
            </div>
            <div class="actions__item" (click)="openEditCompanyModal(row)">
              <mat-icon class="actions__item--light-brown" matTooltip="Editar">edit</mat-icon>
            </div>
            <div class="actions__item" (click)="openConfirmRemoveModal(row)">
              <mat-icon class="actions__item--danger" matTooltip="Excluir">delete</mat-icon>
            </div>
          </div>
        </ng-template>
      </es-card-column>
    </es-card-item>
  </ng-container>
</es-list-template>

<ng-template #loadingDetail>
  <ec-loading [active]="isLoading" height="30px"></ec-loading>
</ng-template>
