<es-notifications></es-notifications>
<div class="pre-registration">
  <div class="container pt-4">
    <div class="container__header col-12">
      <span class="header__title">
        Compre e venda a sua energia com o hud Cotação
      </span>
      <span class="header__subtitle">
        Tenha acesso exclusivo ao primeiro <span class="header__subtitle--bold">Marketplace</span> de energia do
        mercado.
      </span>
    </div>
    <div class="container__content mt-2">
      <div class="col-xl-6 col-md-12 col-sm-12">
        <ec-registration-information></ec-registration-information>
      </div>
      <div class="col-xl-6 col-md-12 col-sm-12 container__registration">
        <ng-container *ngIf="isSuccess; else registration">
          <ec-success-registration></ec-success-registration>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #registration>
  <ec-registration (successRegistration)="showSuccess()"></ec-registration>
</ng-template>
