@import "~@esferaenergia/esfera-ui/assets/styles/typography_font";
@import "~@esferaenergia/esfera-ui/assets/styles/colors";

@mixin for-mobile-landscape-only {
  @media (min-width: 300px) and (max-width: 1199px) {
    @content;
  }
}

.pre-registration {
  overflow: hidden !important;
  height: 100%;

  .container {
    overflow: auto !important;
    height: 100%;

    &__content {
      display: flex;
      flex-direction: row;

      @include for-mobile-landscape-only {
        flex-direction: column;
        flex-wrap: wrap;
      }
    }

    &__header {
      display: flex;
      flex-direction: column;

      .header {
        &__title {
          text-align: center;
          font-size: 40px;
          color: #ef406d;
          margin-bottom: 30px;
          line-height: 40px;
          font-weight: $poppins-semibold;
        }

        &__subtitle {
          color: #000000;
          text-align: center;
          font-size: $font-lg;
          margin-bottom: 20px;

          &--bold{
            font-weight: $poppins-semibold;
          }
        }
      }
    }

    &__registration {
      @include for-mobile-landscape-only {
        margin-top: 2.5rem;
      }
    }
  }

  @media (min-width: 1366px) {
    &::before {
      content: "";
      z-index: -1;
      display: block;
      position: absolute;
      right: 0;
      border-bottom: 125px solid transparent;
      border-right: 250px solid $cerise;
    }
  }
}

