@import "~@esferaenergia/esfera-ui/assets/styles/var.scss";
@import "~@esferaenergia/esfera-ui/assets/styles/colors.scss";
@import "~@esferaenergia/esfera-ui/assets/styles/typography_font";

.shipping-settings {
  padding: 25px;

  mat-form-field {
    width: 100%;
  }

  h1 {
    color: $cerise;
    font-size: mat-font-size($config, subheading-2);
    font-weight: $bold;
    &::after {
      margin-right: 0.25em;
      margin-left: 2.5em;
    }

    &::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid #c0c0c0;
    }
  }

  &--btn-cerise {
    width: 204px;
    border: 1px solid $cerise !important;
    color: $cerise !important;
    background-color: #ffffff !important;

    &:hover {
      color: #ffffff !important;
      background: $cerise !important;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  &__card {
    max-height: 300px;
    overflow: auto;
    margin-bottom: 10px;
  }

  &__no-groups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    mat-icon {
      font-size: 30px;
      color: $cerise;
      margin-bottom: 20px;
    }

    &--cerise {
      color: $cerise;
      cursor: pointer;
      margin-top: 20px;
    }
  }

  &--text-cerise {
    color: $cerise;
    font-weight: $bold;
    cursor: pointer;
  }

  &--text-end {
    text-align: end;
  }

  &__conditions {
    &--icon-cerise {
      background: $cerise;
      color: #ffffff;
    }
  }

  &__groups {
    &__infos {
      text-align: end;
    }
  }
}
