.edit-group {
  .mat-form-field {
    width: 100%;
  }

  .close {
    cursor: pointer;
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  .mat-dialog-title {
    text-align: left;
    font-weight: bold;
    font-size: 35px !important;
    letter-spacing: 0px;
    color: #ef406d;
    opacity: 1;
  }
}
