<ng-template #loadingTpl>
  <div class="loading">
    <ec-loading [active]="true"></ec-loading>
  </div>
</ng-template>

<div class="edit-group">

  <ng-container *ngIf="!isLoading; else loadingTpl">
    <div class="edit-group__title">
      <span mat-dialog-title cdkFocusInitial>Grupo de fornecedores</span>
      <mat-icon class="close" mat-dialog-close>close</mat-icon>

    </div>

    <form [formGroup]="editGroupForm" (ngSubmit)="editGroup()">
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="mat-prefix">
            <mat-label>Nome do grupo</mat-label>
            <input matInput formControlName="name" autocomplete="off">
          </mat-form-field>
        </div>
      </div>

      <ec-dual-list name="name" formControlName="companies" [selectsTwo]="companyGroup?.companies"
                    *ngIf="companyGroup?.companies"></ec-dual-list>

      <div class="row mt-2 d-flex justify-content-end">
        <div class="col-2">
          <button type="submit" es-button [disabled]="!editGroupForm.valid">
            editar grupo
          </button>
        </div>
      </div>
    </form>
  </ng-container>

</div>
