<ng-template #loadingTpl>
  <div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="row justify-content-center">
      <div class="col-auto">
        <ec-loading [active]="true"></ec-loading>
      </div>
    </div>
  </div>
</ng-template>

<div class="registration-data mt-4">
  <span class="registration-data__title pb-2">Dados cadastrais</span>

  <form [formGroup]="registrationDataForm">
    <ng-container *ngIf="!isMultipleAgents; else multipleAgents">
      <ng-container *ngIf="!loading?.getBillingInfoByCompanyId; else loadingTpl">
        <ng-container *ngIf="billingInfo?.length; else noBillingInfo">
          <div class="registration-data__container">
            <es-card-item [columns]="item" [headerColumns]="billingColumns" (selectedItems)="selectBillingInfo($event)"
              tabindex="1" class="pt-2" key="id" *ngFor="let item of billingInfo" [showSelect]="true"
              [disabledExpanded]="true" [selected]="registrationDataForm.get('billingInfo').value"
              [ngStyleGridColumn]="'40px repeat(auto-fit,minmax(90px, 3fr))'">

              <es-card-column columnName="name">
                <ng-template let-columns="item">
                  <span class="registration-data__title">{{item.name}}</span>
                </ng-template>
              </es-card-column>

              <es-card-column columnName="cnpj">
                <ng-template let-columns="item">
                  <span>{{item.cnpj | mask: '00.000.000/0000-00'}}</span>
                </ng-template>
              </es-card-column>

              <es-card-column columnName="actions">
                <ng-template let-columns="item">
                  <span class="registration-data__cerise" (click)="openDetailModal(item)">Ver detalhes</span>
                </ng-template>
              </es-card-column>
            </es-card-item>
          </div>

        </ng-container>

        <mat-error
          *ngIf="registrationDataForm.get('billingInfo').hasError('required') && registrationDataForm.get('billingInfo').hasError('touched')">
          Informações de faturamento é obrigatório
        </mat-error>

        <div class="registration-data__text-end">
          <span class="registration-data__cerise" routerLink="/configuration/billing-info">
            Gerenciar dados cadastrais
          </span>
        </div>
      </ng-container>
    </ng-container>

    <div class="registration-data__observation pt-4">
      <mat-form-field appearance="outline">
        <mat-label>Observações finais</mat-label>
        <textarea matInput [rows]="3" formControlName="observation"></textarea>
      </mat-form-field>
    </div>

    <section class="registration-data__actions pt-2">
      <button mat-button tabindex="2" size="sm" (click)="backStep()">
        < voltar </button>

          <button es-button tabindex="3" size="sm" class="registration-data__actions__btn-cerise"
            (click)="openConfirmProposal()">
            enviar oferta
          </button>
    </section>
  </form>

</div>

<ng-template #noBillingInfo>
  <div class="registration-data_no-billing-info pt-2">
    <mat-icon>note_add</mat-icon>
    <span>Adicione seus <b>dados de faturamento</b> para agilizar futuras cotações.</span>
    <span class="registration-data__no-billing-info--cerise">
      clique para adicionar dados de faturamento</span>
  </div>
</ng-template>


<ng-template #multipleAgents>
  <div class="registration-data__multiples-agents pt-2">
    <span>Esta cotação possuí <b>vários agentes selecionados.</b> Por enquanto, as <b> orientações de faturamento
        deverão
        ser encaminhadas bilateralmente para a contraparte vencedora.</b></span>
  </div>
</ng-template>
