@import "~@esferaenergia/esfera-ui/assets/styles/typography_font.scss";

.observation {
  mat-icon {
    position: relative;
    top: -20px;
    right: 0;
    left: 20px;
    cursor: pointer;
  }

  mat-form-field {
    width: 100%;
  }

  &__title {
    display: flex;
    justify-content: space-between;

    span {
      font-size: $font-md;
      font-weight: $poppins-bold;
    }
  }
}
