@import '~@esferaenergia/esfera-ui/assets/styles/var.scss';
@import '~@esferaenergia/esfera-ui/assets/styles/colors.scss';
@import '~@esferaenergia/esfera-ui/assets/styles/typography_font';

.customization {
  padding: 25px;

  &__field {
    width: 100%;
  }

  &__title {
    color: $cerise;
    font-size: mat-font-size($config, subheading-2);
    font-weight: $bold;

    &::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid #c0c0c0;
      margin-right: 0.25em;
      margin-left: 2.5em;
    }
  }

  &__radio-group {
    display: flex;
    &__radio-button {
      padding-left: 20px;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    &__btn-cerise {
      width: 204px;
      border: 1px solid $cerise !important;
      color: $cerise !important;
      background-color: #ffffff !important;
      margin-left: 60px;

      &:hover {
        color: #ffffff !important;
        background: $cerise !important;
      }
    }
  }

  &__next {
    width: 204px;
  }
}
