@import "~@esferaenergia/esfera-ui/assets/styles/var.scss";
@import "~@esferaenergia/esfera-ui/assets/styles/colors.scss";
@import "~@esferaenergia/esfera-ui/assets/styles/typography_font";

.payment-conditions {
  padding: 25px;

  ::ng-deep {
    .mat-dialog-override {
      overflow: auto;
    }

    .card-item {
      grid-auto-rows: auto;
    }
  }

  mat-form-field {
    width: 100%;
  }

  h1 {
    color: $cerise;
    font-size: mat-font-size($config, subheading-2);
    font-weight: $bold;
    &::after {
      margin-right: 0.25em;
      margin-left: 2.5em;
    }

    &::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid #c0c0c0;
    }
  }

  &--bold {
    font-size: mat-font-size($config, body-1);
    font-weight: $bold;
  }

  &--text-cerise {
    color: $cerise;
    font-weight: $bold;
    cursor: pointer;
  }

  &--text-end {
    margin-top: 20px;
    text-align: end;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  &__header {
    display: grid;
    grid-template-columns: 40px repeat(auto-fit, minmax(90px, 3fr));
    color: rgba(0, 0, 0, 0.54);

    & > div {
      text-align: center;
    }
  }

  &__next {
    width: 204px;
  }

  &__no-billing-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    mat-icon {
      font-size: 30px;
      color: $cerise;
      margin-bottom: 20px;
    }

    &--cerise {
      color: $cerise;
      cursor: pointer;
      margin-top: 20px;
      font-weight: $bold;
    }
  }

  &__multiples-agents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &--reajust {
    color: #8a8787;
  }

  &--icon-cerise {
    color: $cerise;
  }

  &__card {
    height: 250px;
    overflow: auto;
  }

  mat-radio-group {
    mat-radio-button {
        padding-left: 20px;
    }
  }
}
