<div class="box mb-3" (click)="showExpanded()"
  [ngClass]="{'box--expanded': showExpanded, 'box--winner': hasOfferWinner, 'box--winner-expanded': hasOfferWinner && expanded}">
  <div class="box__item--expand">
    <es-icon name="arrow-right" [class.expanded]="expanded"></es-icon>
  </div>
  <div class="box__item">
    <span class="box__item--bold">{{quotationStatus[quotation?.status]}}</span>
  </div>
  <div class="box__item">
    <div class="box__item--timer">
      <div class="box__item--timer--date">
        <span *ngIf="quotation?.timer; else quotationTimer">{{quotation.timer}}</span>
        <ng-template #quotationTimer>
          <span class="box__item--bold">{{quotation | quotationDateTimer}}</span>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="box__item">
    <span>{{quotation?.protocol}}</span>
  </div>
  <div class="box__item">
    <span [matTooltip]="nameOwnerTooltip">
      {{nameOwner}}
    </span>
  </div>
  <div class="box__item">
    <ec-quotation-type [quotationType]="quotation?.quotationType"></ec-quotation-type>
  </div>
  <div class="box__item">
    <span>{{subMarketRegion[quotation?.subMarketRegion]}}</span>
  </div>
  <div class="box__item">
    <span>{{energySource[quotation?.energySource]}}</span>
  </div>
  <div class="box__item">
    <ng-container *ngIf="(quotation?.startDate | date:'MMMyy' ) !== (quotation?.endDate | date:'MMMyy') else isEquals">
      <span class="initial">
        {{quotation?.startDate | date:'MMMyy' | esReplace:'[ .]':'/'}}
        <span class="partial">a</span>
        {{quotation?.endDate | date:'MMMyy' | esReplace:'[ .]':'/'}}
      </span>
    </ng-container>
  </div>
  <div class="box__item">
    <span>
      {{priceTypeEnum[quotation.priceType]}}
    </span>
  </div>
  <div class="box__item ">
    <span class="box__item--bold">
      {{(quotation?.energyVolumeAverage | convertDecimal:'6':true)?.convertedDecimal}}
    </span>
  </div>
  <div class="box__item">
    <span class="box__item--bold">
      {{quotation?.countOffers}}
      <es-icon name="trophy" *ngIf="quotation?.countOffersWinners > 0" [ngClass]="{'box__item--rose': true}">
      </es-icon>
    </span>
  </div>
</div>

<template #offersReceived>
</template>

<ng-template #isEquals>
  <span class="initial">{{quotation?.startDate | date:'MMMyyy' | esReplace:'[ .]':'/'}}</span>
</ng-template>