<es-notifications></es-notifications>
<div class="change-password">
  <div class="change-password__container">
    <div class="presentation-login">
      <img src="/assets/images/logo.svg" alt="logo esfera" class="logo" />
    </div>
    <ng-container *ngIf="isTokenValid, else InvalidToken">
      <p class="title mb-0">{{ isNewUser ? 'cadastrar senha' : 'redefinir sua senha' }}</p>
      <p>Quase pronto, basta digitar sua nova senha abaixo.</p>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>digite a nova senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
            [ngClass]="{ 'is-invalid':  form.get('password').errors }" />
          <span class="password-reveal" (click)="hide = !hide" matSuffix>{{ hide ? 'mostrar' : 'ocultar' }}</span>
          <mat-error *ngIf="hasError('password', 'required')">campo senha é obrigatório</mat-error>
        </mat-form-field>

        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>confirme a nova senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordConfirmation"
              [ngClass]="{ 'is-invalid': form.get('passwordConfirmation')?.errors || form.get('passwordConfirmation')?.hasError('mustMatch') }" />
            <span class="password-reveal" (click)="hide = !hide" matSuffix>{{ hide ? 'mostrar' : 'ocultar' }}</span>
            <mat-error *ngIf="hasError('passwordConfirmation', 'required')">
              confirmação de nova senha é obrigatória
            </mat-error>
            <mat-error *ngIf="hasError('passwordConfirmation', 'mustMatch')">
              as senhas não conferem
            </mat-error>
          </mat-form-field>
        </div>

        <div *ngIf="isNewUser" class="change-password__group-terms-lgpd">
          <mat-checkbox formControlName="acceptTermsOfUse" class="mr-1">
          </mat-checkbox>
          Estou de acordo com os <span class="group-terms-lgpd--hiperlink-lgpd" (click)="openDocuments()">Termos de Uso e Políticas de Privacidade</span>.
        </div>

        <div class="form-group">
          <button mat-button class="change-password__button"
            [ngClass]="{'change-password__button--disabled': form.invalid || isLoading || (isNewUser && !form.get('acceptTermsOfUse').value)}"
            [disabled]="form.invalid || isLoading || (isNewUser && !form.get('acceptTermsOfUse').value)">
            <ec-loading [active]="isLoading" [height]="'50px'">
              {{ isNewUser ? 'cadastrar senha' : 'atualizar senha' }}
            </ec-loading>
          </button>
        </div>
      </form>
    </ng-container>

    <ng-template #InvalidToken>
      <div class="d-flex align-items-center invalid-token-container">
        <div class="icon-box float-left d-flex">
          <i class="material-icons">
            close
          </i>
        </div>

        <div class="ml-5">
          <p class="title text-left">Oppsss...</p>
          <p class="text-left">
            Esse link expirou, por favor solicite um novo <a [routerLink]="['/auth/recovery']"> clicando aqui!</a>
          </p>
        </div>
      </div>
    </ng-template>

    <div class="go-back">
      <a [routerLink]="['/auth/']">
        <i class="material-icons align-bottom"> keyboard_arrow_left </i>
        voltar para o login
      </a>
    </div>
  </div>

  <img src="/assets/images/logo-bg.svg" alt="logo esfera bg" class="logo-bg" />
</div>
