@import "~@esferaenergia/esfera-ui/assets/styles/typography_font.scss";
@import "../../../../../../libs/energy-contracting/assets/styles/mixins.scss";
@import "../../../../../../libs/energy-contracting/assets/styles/colors";

.change-password {
  ::ng-deep {
    .mat-form-field-label,
    .mat-form-field-outline,
    .mat-form-field-invalid,
    .mat-input-element {
      caret-color: #ffffff;
      color: #ffffff !important;
    }
  }

  .title {
    font-size: 35px;
    font-weight: bold;
    color: #fff;
  }

  .icon-box {
    width: 125px;
    height: 125px;
    min-width: 125px;
    min-height: 125px;
    border-radius: 50%;
    border: 1px solid #fff;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  display: flex;
  width: 100%;
  height: 100vh;
  @include gradient(bottom);
  background-image: $backgroundColor;
  min-height: 100%;
  flex-direction: row;
  overflow: hidden;

  &,
  div.change-password__container {
    justify-content: left;
    align-items: center;
  }

  div.change-password__container {
    width: 45%;
    min-height: 450px;
    display: flex;
    flex-flow: column wrap;
    background: transparent;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0 5% 0 10%;
    z-index: 1;

    div.presentation-login {
      flex: 1;
      display: flex;
      justify-content: flex-start;

      img.logo {
        height: auto;
        display: flex;
        padding-left: 0;
      }
    }

    div.login-inputs {
      flex: 2;
      flex-direction: column;
      align-items: stretch;
      display: flex;
      justify-content: center;
      margin: 10px;

      fieldset {
        border-color: white;
      }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-text-fill-color: white;
      -webkit-box-shadow: 0 0 0 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s;
    }

    .change-password__button {
      width: 186px;
      height: 50px;
      align-self: flex-start;
      background-color: #ffffff;
      border-radius: 25px;
      font-size: 18px;
      font-weight: $poppins-bold;
      font-family: $primary-fs;
      color: #000000;
      cursor: pointer;

      &--disabled {
        cursor: default;
        color: #bdbdbd;
      }
    }
  }

  img.logo-bg {
    height: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
  }

  label {
    color: #fff;
    font-weight: $poppins-regular;
  }

  span.password-reveal {
    color: white;
    user-select: none;
    position: relative;
    top: -5px;
  }

  p {
    margin-top: 6%;
    margin-bottom: 6%;
    text-align: justify;
    padding-left: 0;
    padding-right: 0;
    user-select: none;
    color: white;
  }

  .mat-form-field-flex {
    align-items: center;
  }

  .mat-form-field-outline-thick,
  .mat-form-field-outline,
  .mat-form-field-appearance-outline,
  .mat-focused {
    color: white !important;

    label {
      color: white !important;
    }

    &.mat-form-field-invalid {
      color: red !important;
    }
  }

  mat-error {
    color: white;
  }

  .pass-error {
    margin-top: 1.3rem;
  }

  .not-same {
    font-size: 75%;
    margin-top: -1.2rem;
    margin-left: 1rem;
  }

  .invalid-token-container {
    a {
      color: #ffffff;
      font-weight: bold;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.go-back {
  font-size: 16px;
  color: #ffffff;
  margin-top: 1.5rem;

  a {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;

    &:hover {
      color: #ffffff;
      text-shadow: 0 0 1px #ffffff;
      text-decoration: none;
    }
  }
}

.change-password__group-terms-lgpd {
  margin-bottom: 30px;
  color: white;

  .group-terms-lgpd {
    &--hiperlink-lgpd {
      cursor: pointer;
      color: #574850;
      font-style: italic;
      font-weight: bold;
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 641px) {
  .change-password__container {
    width: 100% !important;
  }
}

@media (min-width: 1281px) {
  .change-password__container {
    width: 45% !important;
  }

  mat-form-field.mat-form-field {
    width: 100% !important;
  }
}

::ng-deep {
  .mat-checkbox-frame {
    border: 2px solid white;
  }
}
