<es-notifications></es-notifications>
<div class="stepper">
  <mat-card>
    <div class="stepper__title">
      <h1 class="stepper__title--cerise">Abertura de nova cotação</h1>
      <div class="stepper__close" routerLink="/quotation">
        <span>fechar</span>
        <mat-icon>close</mat-icon>
      </div>
    </div>
    <mat-tab-group [selectedIndex]="selected.value" (selectedTabChange)="onTabChanged($event)">
      <mat-tab label="ENERGIA">
        <ng-template matTabContent>
          <ec-energy (changedStep)="changedStep($event)"></ec-energy>
        </ng-template>
      </mat-tab>
      <mat-tab label="CUSTOMIZAÇÃO" [disabled]="customizationDisabled">
        <ng-template matTabContent>
          <ec-customization-component (changedStep)="changedStep($event)">
          </ec-customization-component>
        </ng-template>
      </mat-tab>
      <mat-tab label="FATURAMENTO" [disabled]="paymentConditionsDisabled">
        <ng-template matTabContent>
          <ec-payment-conditions (changedStep)="changedStep($event)">
          </ec-payment-conditions>
        </ng-template>
      </mat-tab>
      <mat-tab label="OFERTANTES" [disabled]="offersDisabled">
        <ng-template matTabContent>
          <ec-shipping-settings (changedStep)="changedStep($event)">
          </ec-shipping-settings>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
