@import "~@esferaenergia/esfera-ui/assets/styles/_colors.scss";
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "~@esferaenergia/esfera-ui/assets/styles/scrollbar";
@import "~@esferaenergia/esfera-ui/assets/styles/esfera";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #f3f3f3 !important;
}

mat-button {
  outline: none !important;
  text-transform: capitalize;
  cursor: pointer !important;
}

.es-button {
  outline: none !important;
  text-transform: capitalize;
}

.disabled {
  pointer-events: none;
  background-color: #d3d3d3 !important;
}

.disabled-icon {
  pointer-events: none;
  color: #d3d3d3 !important;
}

.text-transform-capitalize {
  text-transform: capitalize;
}

.mat-prefix {
  .mat-form-field-prefix {
    top: 0 !important;
    span {
      font-size: 16px;
      letter-spacing: 0px;
      color: #424242;
    }
  }
}

.mat-suffix {
  .mat-form-field-suffix {
    top: 0 !important;
    span {
      font-size: 16px;
      color: #9b9b9b;
    }
  }
}

.mat-dialog-override {
  mat-dialog-container {
    > :first-child {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    mat-dialog-content,
    div[mat-dialog-content] {
      flex-grow: 1;
      max-height: unset;
    }
  }
}

mat-datepicker-toggle {
  .es-disabled,
  button:disabled {
    background: none !important;
    border-color: none !important;
    box-shadow: none !important;
  }
}

mat-icon {
  cursor: pointer !important;
}

.mat-form-field-label {
  height: 17px;
}
