.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100%;
}

.billing-info {
  &__actions {
    display: flex;
    width: 100%;

    button {
      height: 48px;
      border-radius: 25px;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0px;
      text-align: center;
      text-transform: lowercase;
      outline-style: none;
      box-shadow: 0px 2px 4px #00000033;
      opacity: 1;
    }
  }

  &__btn-cancel {
    border: 1px solid #ef406d;
    background: #ffffff;
    color: #ef406d;
    margin-right: 10px;
  }
}
