<ng-template #loadingTpl>
  <div class="loading">
    <div class="row justify-content-center">
      <div class="col-auto">
        <ec-loading [active]="true"></ec-loading>
      </div>
    </div>
  </div>
</ng-template>

<div class="billing-info" *ngIf="!isLoading.getBillingInfoById else loadingTpl">
  <ec-create-billing-info [formControl]="billingInformation" [clients]="clients" [banks]="banks" ngDefaultControl>
    <div class="billing-info__actions" actions>
      <button type="button" class="billing-info__btn-cancel" es-button mat-dialog-close>
        cancelar
      </button>
      <button es-button [disabled]="isInvalid" (click)="editBillingInfo()"
              [ngClass]="{ 'disabled': isInvalid || isLoading.submit }">
        <ec-loading [active]="isLoading.submit" [height]="'50px'">editar</ec-loading>
      </button>
    </div>
  </ec-create-billing-info>
</div>
