@import "~@esferaenergia/esfera-ui/assets/styles/_colors.scss";
@import "~@esferaenergia/esfera-ui/assets/styles/typography_font";

.title {
  font-size: 36px;
  line-height: 50px;
}

.subtitle {
  display: flex;
  flex-direction: column;

  span {
    margin-top: 1em;
    font-size: $font-md;
    line-height: 30px;
  }
}

mat-form-field {
  width: 100%;
}

.actions {
  &--cerise {
    color: $cerise;
    font-weight: $poppins-bold;
    text-decoration: none;
  }

  &__informations {
    span {
      font-size: $font-sm;
      line-height: 16px;
    }
  }
}

.multi-select-error {
  visibility: hidden;
  position: relative;
  bottom: 15px;
  margin-left: 10px;
  font-size: 75%;

  &--show {
    visibility: visible;
  }
}

.agents-weight {
  font-weight: $poppins-bold;
}

form h2 {
  margin-top: 25px;
}
