<div class="title">
  <span>Ainda não tem um convite para participar?</span>
</div>

<div class="subtitle">
  <span>
    Nesta fase de pré-lançamento do hud Cotação estamos admitindo usuários via convites para garantirmos a qualidade da plataforma.
  </span>
  <span>
    Faça o seu cadastro que te colocaremos na fila de espera. Conforme os convites forem liberados entraremos em contato.
  </span>
</div>

<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <h2>Faça agora mesmo o seu cadastro.</h2>
  <div class="row">
    <div class="col-12">
      <mat-form-field appearance="outline" class="mat-suffix" floatLabel="always">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" required autocomplete="off" id="name">
        <mat-error *ngIf="registrationForm.get('name').hasError('required')">
          Nome é obrigatório
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-form-field appearance="outline" class="mat-suffix" floatLabel="always">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" required autocomplete="off" id="email">
        <mat-error *ngIf="registrationForm.get('email').hasError('required')">
          E-mail é obrigatório
        </mat-error>
        <mat-error *ngIf="registrationForm.get('email').hasError('email')">
          E-mail inválido
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-form-field appearance="outline" class="mat-suffix" floatLabel="always">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="phone" required autocomplete="off" id="phone" mask="(00) 00000-0000">
        <mat-error *ngIf="registrationForm.get('phone').hasError('required')">
          Telefone é obrigatório
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ec-multiselect [loading]="loading.getAgents" selectAllLabel="Selecionar todos" bindLabel="businessName"
                      [showAllSelect]="false" [initFocus]="true" bindValue="id" placeholder="Empresa *"
                      (searched)="changeAgents($event)" notFoundText="Empresa não encontrada" formControlName="agents"
                      [items]="agentsData" id="agents" required>
      </ec-multiselect>
      <mat-error class="multi-select-error" [ngClass]="{
      'multi-select-error--show': registrationForm.get('agents').hasError('required') && registrationForm.get('agents').touched
      }">
        Escolha uma empresa
      </mat-error>
      <span class="agents-weight">Lista apresenta apenas agentes já aderidos na CCEE</span>
    </div>
  </div>

  <div class="actions row mt-2">
    <div class="col-12">
      <button class="btn-create-offer" es-button [disabled]="registrationForm.invalid"
              [ngClass]="{'disabled': !registrationForm.valid || loading.submit}">
        <ec-loading [active]="loading.submit" [height]="'50px'">enviar</ec-loading>
      </button>
      <div class="actions__informations mt-2">
        <span>
          Já utiliza o Hud Cotação?
          <a class="actions--cerise" routerLink="/auth">
            Clique aqui para fazer o login
          </a>
        </span>
      </div>
    </div>
  </div>
</form>
