@import "~@esferaenergia/esfera-ui/assets/styles/_colors.scss";

.create-user {
  mat-form-field {
    width: 100%;
  }

  &__title {
    display: flex;
    justify-content: space-between;

    &--cerise {
      text-align: left;
      font-weight: bold;
      font-size: 30px;
      letter-spacing: 0px;
      color: $cerise;
      opacity: 1;
    }
  }

  .mat-dialog-actions {
    flex-wrap: nowrap !important;

    button {
      border-radius: 25px;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0px;
      text-align: center;
      outline-style: none;
      box-shadow: 0px 2px 4px #00000033;
      opacity: 1;
      width: 100%;
      height: 48px;
    }
  }

  &--cerise {
    background: $cerise 0% 0% no-repeat padding-box;
    border: $cerise;
    color: #ffffff;
  }

  &--normal {
    border: 1px solid $cerise;
    background: #ffffff;
    color: $cerise;
  }
}
