<ng-template #loadingTpl>
  <div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="row justify-content-center">
      <div class="col-auto">
        <es-loading [active]="true"></es-loading>
      </div>
    </div>
  </div>
</ng-template>

<div class="financial">
  <form [formGroup]="financialForm" (ngSubmit)="nextForm()" (keyup.enter)="nextForm()">
    <h1>Condições de Reajuste</h1>

    <div class="row pt-3">
      <div class="col-5">
        <mat-form-field appearance="outline" class="financial__field">
          <mat-label>Indexador de reajuste</mat-label>
          <mat-select formControlName="indexer" required id="indexer">
            <mat-option *ngFor="let index of resources.indexer" [value]="index.key">
              {{index.value}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="financialForm.get('indexer').hasError('required')">
            Indexador de reajuste é obrigatório
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-1 d-flex justify-content-end">
        <mat-icon class="financial__icon-cerise">info</mat-icon>
      </div>
      <div class="col-8">
        <ng-container [ngSwitch]="(financialForm.get('indexer').value)">
          <span class="financial__readjustment" *ngSwitchCase="'NONE'">
            O preço negociado nesta cotação não sofrerá nenhum reajuste.
          </span>

          <span class="financial__readjustment" *ngSwitchDefault>
            Reajustes serão aplicados no inicio do ano de fornecimento, correspondente ao mês de Janeiro,
            e posteriormente a cada 12 meses, calculados pelo
            <b>{{financialForm.get('indexer')?.value}}</b>
            a partir dadata de abertura da cotação, data base de
            <b>{{minDate | date:'MMMyy' | esReplace:'[ .]':'/'}}.</b>
          </span>
        </ng-container>
      </div>
    </div>

    <h1 class="customization__title">Garantia Financeira</h1>
    <ng-container *ngIf="!loading.getFinancialsGuarantee; else loadingTpl">
      <section class="pt-3">
        <div class="row" *ngIf="financialsGuarantee">
          <div class="col-3 mt-3" *ngFor="let order of financialsGuaranteeFormArray.controls; let i = index">
            <label formArrayName="financialGuarantee">
              <mat-checkbox tabindex="9" #checkBox [formControlName]="i">
                {{financialsGuarantee[i].name}}
              </mat-checkbox>
            </label>
          </div>
        </div>
        <div class="row mt-3">
          <mat-error *ngIf="financialForm.get('financialGuarantee').hasError('invalidSize')">
            {{financialForm.get('financialGuarantee').errors.error}}
          </mat-error>
        </div>
      </section>
    </ng-container>

    <section class="financial__actions mt-3">
      <button mat-button tabindex="2" size="sm" type="button" (click)="backStep()">
        < voltar </button>
          <button es-button tabindex="10" size="sm" class="financial__actions__btn-cerise" color="secondary">
            Avançar
          </button>
    </section>
  </form>
</div>
