<div class="readjustment">
  <span class="readjustment--title">Customização e reajuste</span>

  <div class="readjustment__container pt-3">
    <div class="readjustment__item">
      <span class="readjustment__container--title">Flexibilidade</span>
      <div class="grid-item__container">
        <div class="grid-item__value" *ngIf="diffMinimumFlexibility">
          <span class="grid-item__through">
            {{quotation.minimumFlexibility ? quotation.minimumFlexibility :  'flat' }}
            % min
          </span>
          <mat-icon>chevron_right</mat-icon>
        </div>
        <span class="grid-item__subtitle grid-item__bold">
          {{quotation.minimumFlexibility ? quotation.minimumFlexibility :  'flat' }}
          % min
        </span>
        <mat-icon *ngIf="!diffMinimumFlexibility" class="grid-item__green-water">done</mat-icon>
      </div>

      <div class="grid-item__container">
        <div class="grid-item__value" *ngIf="diffMaximumFlexibility">
          <span class="grid-item__through">
            {{quotation.maximumFlexibility ? quotation.maximumFlexibility  : 'flat'}} % max
          </span>
          <mat-icon>chevron_right</mat-icon>
        </div>
        <span class="grid-item__subtitle grid-item__bold">
          {{offer.maximumFlexibility ? offer.maximumFlexibility: 'flat'}} % max
        </span>
        <mat-icon *ngIf="!diffMaximumFlexibility" class="grid-item__green-water">done</mat-icon>
      </div>
    </div>
    <div class="readjustment__item">
      <span class="readjustment__container--title">Sazonalização</span>
      <div class="grid-item__container">
        <div class="grid-item__value" *ngIf="diffMinimumSeasonality">
          <span class="grid-item__through">
            {{quotation.minimumSeasonality ? quotation.minimumSeasonality : 'flat'}}
            % min
          </span>
          <mat-icon>chevron_right</mat-icon>
        </div>
        <span class="grid-item__subtitle grid-item__bold">
          {{offer.minimumSeasonality ? offer.minimumSeasonality : 'flat'}}
          % min
        </span>
        <mat-icon *ngIf="!diffMinimumSeasonality" class="grid-item__green-water">done</mat-icon>
      </div>

      <div class="grid-item__container">
        <div class="grid-item__value" *ngIf="diffMaximumSeasonality">
          <span class="grid-item__through">
            {{quotation.maximumSeasonality ? quotation.maximumSeasonality  : 'flat'}}
            % max
          </span>
          <mat-icon>chevron_right</mat-icon>
        </div>
        <span class="grid-item__subtitle grid-item__bold">
          {{offer.maximumSeasonality ? offer.maximumSeasonality : 'flat'}}
          % max
        </span>
        <mat-icon *ngIf="!diffMaximumSeasonality" class="grid-item__green-water">done</mat-icon>
      </div>
    </div>

    <div class="readjustment__item">
      <span class="readjustment__container--title">Modulação</span>
      <div class="grid-item__container">
        <span class="grid-item__subtitle grid-item__bold">{{modulationType}}</span>
      </div>

      <div class="grid-item__container">
        <div class="grid-item__value" *ngIf="diffMinimalModulation">
          <span class="grid-item__through">
            {{quotation.minimalModulation ? quotation.minimalModulation : 'flat'}}
            % min
          </span>
          <mat-icon>chevron_right</mat-icon>
        </div>
        <span class="grid-item__subtitle grid-item__bold">
          {{offer.minimalModulation ? offer.minimalModulation : 'flat'}} % min
        </span>
        <mat-icon *ngIf="!diffMinimalModulation" class="grid-item__green-water">done</mat-icon>
      </div>

      <div class="grid-item__container">
        <div class="grid-item__value" *ngIf="diffMaximumModulation">
          <span class="grid-item__through">{{quotation.maximumModulation ? quotation.maximumModulation : 'flat'}}
            % max
          </span>
          <mat-icon>chevron_right</mat-icon>
        </div>
        <span class="grid-item__subtitle grid-item__bold">
          {{offer.maximumModulation ? offer.maximumModulation : 'flat'}}
          % max
        </span>
        <mat-icon *ngIf="!diffMaximumModulation" class="grid-item__green-water">done</mat-icon>
      </div>
    </div>

    <div class="readjustment__item">
      <span class="readjustment__container--title">Índ. de reajuste</span>
      <div class="readjustment__item--align">
        <span class="grid-item__subtitle grid-item__bold">{{indexerEnum[offer?.indexer]}}</span>
        <mat-icon class="grid-item__green-water">done</mat-icon>
      </div>
    </div>

    <div class="readjustment__item">
      <span class="readjustment__container--title">Garantias aceitas</span>
      <div class="readjustment__item--align">
        <span>{{financialGuarantee}}</span>
      </div>
    </div>

    <div class="readjustment__item">
      <span class="readjustment__container--title">Observação</span>
      <div class="readjustment__item--align">
        <span>{{offer.observation}}</span>
      </div>
    </div>
  </div>
</div>
