@import "~@esferaenergia/esfera-ui/assets/styles/typography_font.scss";

::ng-deep {
    .skelt-load {
        width: 8vh !important;
        max-width: 100% !important;
    }

    .small__skeleton {
        .skelt-load {
            width: 3vh !important;
            max-width: 100% !important;
        }
    }
}

.box {
    height: 50px;
    border-color: #fff #fff #eceae8;
    background: #ffffff 0% 0% no-repeat padding-box;
    transition: all 0.5s;    
    display: grid;
    grid-template-columns: 60px repeat(auto-fit, minmax(90px, 11fr));
    grid-auto-rows: 40px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 6px #05226117;
    border-radius: 5px;
    text-align: center;
    opacity: 1;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6px;
        height: 35px;
        align-items: flex-end;

        ec-quotation-type {
            display: flex;
            justify-content: center;
        }


        &--expand {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 6px;
            height: 35px;
            border-right: 1px solid #e1e1e1;
            align-items: flex-end;

            es-icon {
                transition: transform 650ms;
            }
        }

        &--timer {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    &__item:not(:last-child) {
        border-right: 1px solid #e1e1e1;
    }
}