<es-card-item [columns]="user" [headerColumns]="userCardColumn"
  [ngStyleGridColumn]="'repeat(auto-fit,minmax(90px, 1fr))'">

  <es-card-column columnName="person">
    <ng-template let-columns>
      <span class="item--bold">{{columns?.name}}</span>
    </ng-template>
  </es-card-column>

  <es-card-column columnName="expandedAction">
    <ng-template let-open="expanded">
      <mat-icon class="expand mr-3" [ngClass]="{ 'expand--expanded': open }">
        keyboard_arrow_right
      </mat-icon>
    </ng-template>
  </es-card-column>

  <es-card-column columnName="expandedDetail">
    <ng-template let-element let-open="expanded">
      <div *ngIf="open;">
        <ec-user-detail-item [user]="element"></ec-user-detail-item>
      </div>
    </ng-template>
  </es-card-column>
</es-card-item>
