@import "~@esferaenergia/esfera-ui/assets/styles/colors.scss";
@import "~@esferaenergia/esfera-ui/assets/styles/var.scss";
@import "~@esferaenergia/esfera-ui/assets/styles/typography_font";

.summary {
  background: #f4f4f4;
  height: 100%;
  margin-right: 18px;
  margin-left: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
  }

  h1 {
    color: rgba(239, 64, 109, 0.63);
    font-size: mat-font-size($config, subheading-2);
    font-weight: $bold;
  }

  hr {
    background: #e1e1e1;
  }

  mat-label {
    font-size: mat-font-size($config, body-1);
    font-weight: $bold;
  }

  mat-form-field {
    width: 100%;
  }

  es-icon {
    width: 20px;
    color: $cerise;
    margin-right: 10px;
  }

  .flex-item {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: 50% 50%;

    .grid__item {
      display: flex;
      flex-direction: column;
      margin-top: 1.5rem;

      span {
        padding-top: 10px;
      }

      &--unfilled {
        span {
          color: $cloudy;
        }
      }
    }
  }

  &__container {
    height: 530px;
    padding: 10px;
    overflow: auto;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin: 0 !important;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &--text-end {
      text-align: end;
    }
  }

  &__loading {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .base {
    margin-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #e1e1e1;
    &__container {
      display: flex;
      flex-direction: column;
    }
  }

  &__energy {
    margin-top: 0.75rem;
    padding-bottom: 0.75rem;

    h1 {
      margin-bottom: 1.5rem;
    }

    &--retusd {
      display: flex;
      flex-direction: column;
    }
  }

  &__observation {
    padding-top: 1rem;
    border-top: 1px solid #e1e1e1;
    textarea {
      width: 100%;
      height: 133px;
      resize: none;
    }

    .observation {
      &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
          width: 150px !important;
          height: 30px;
          margin-left: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        mat-icon {
          font-size: $font-md;
        }
      }
    }
  }

  &__attachment {
    padding-top: 0;

    .mat-subheader {
      height: 30px;
    }

    mat-list-item {
      height: 34px !important;
    }

    .attachment {
      &__container {
        ::ng-deep {
          .mat-list-item-content {
            width: 100%;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }

      &__item {
        display: inline-flex;
        align-items: center;
        color: $base-secondary-dark;
        font-size: $font-sm;
      }

      &__data {
        padding-left: 5px;
      }

      &__size {
        margin-left: 8px;
        font-size: $font-x-mall;
        font-weight: $poppins-semibold;
      }

      &__loading {
        display: inline-flex;
        align-items: center;
        font-size: $font-xs;
        margin-left: 14px;

        mat-spinner {
          margin-left: 8px;
        }
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;

    .es-button {
      width: 170px !important;

      ec-loading {
        display: flex;
      }
    }

    ::ng-deep {
      img {
        vertical-align: middle;
      }
    }
  }
}
