@import '../../../assets/scss/break-points.scss';

.site {
  @include for-big-desktop-up {
    min-width: 1280px;
    height: 100%;
  }

  @include for-desktop-zoom-125 {
    zoom: 0.8;
  }

  .container__app {
    display: grid;
    min-width: 1024px;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1.5fr;
    grid-template-areas:
      'nav'
      'main';
    overflow: hidden;
    height: 100%;
  }

  ec-side-nav {
    grid-area: nav;
  }

  main {
    grid-area: main;
  }
}
