<div class="content" [class.filters-opened]="filtersOpened">
  <div class="content__header">
    <ec-quotation-header *ngIf="dataSource" [hidden]="!dataSource.length" (sortedChange)="sorted($event)">
    </ec-quotation-header>
  </div>

  <es-virtual-scroll height="73vh" [listSize]="dataSource?.length + 3"
                     [itemSize]="66" [page]="params?.page" [refreshRequestClosed]="reloaded"
                     (refreshItems)="nextPage($event)">
    <div class="content__body">
      <ng-container *ngFor="let item of dataSource;">
        <ec-quotation-item [quotation]="item" [reloaded]="reloaded">
        </ec-quotation-item>

      </ng-container>

      <ec-quotation-item-skeleton [loading]="isSkeleton"></ec-quotation-item-skeleton>
    </div>
  </es-virtual-scroll>
</div>
